@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600;700&display=swap');

   

:root{
    --orange:#36b6ff;
    --text-color-1:#004aad;
    --text-color-2:#36b6ff;
    --bg-color-1:#ffffff;
    --bg-color-2:#f4f4f4;
    --box-shadow:0 .5rem 1.5rem rgba(0,0,0,.1);
}
.corps{
    background-color: #e7e9eb;
}
*{
    font-family: 'Poppins', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
  
    transition:all .2s linear;
}

html{
  
    overflow-x: hidden;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar{
    width:.5rem;
}

html::-webkit-scrollbar-track{
    background:transparent;
}

html::-webkit-scrollbar-thumb{
    background:var(--orange);
    border-radius: 4rem;
}

body{
    background:var(--bg-color-2);
}

body.active{
    --text-color-1:#fff;
    --text-color-2:#eee;
    --bg-color-1:#333;
    --bg-color-2:#222;
    --box-shadow:0 .5rem 1.5rem rgba(0,0,0,.4);
}

section{
    padding:2rem 7%;
}

.heading{
    text-align: center;
    padding-bottom: 2rem;
    color:var(--text-color-1);
   
}

.heading span{
    position: relative;
    z-index: 0;
}

.heading span::before{
    content: '';
    position: absolute;
    left: 0;
    z-index: -1;
    background: var(--orange);
    height: 100%;
    width: 100%;
    clip-path: polygon(0 90%, 100% 83%, 100% 100%, 0% 100%);
}

.btn{
	display: inline-block;
	background: #024a97;
	color: #fff;
	padding: 17px 32px;
	border-radius: 30px;
	border: none;
	font-size: 17px;
	font-weight: 700;
	transition: all .25s ease;
}

.btn:hover{
    letter-spacing: .1rem;
}
.corps{
   height: auto;
   padding-top: 90px;
   min-height: 600px;
}
.header{
    position: fixed;
    top:0; left:0; right:0;
    background:var(--bg-color-1);
    box-shadow: var(--box-shadow);
    padding: 1.5rem 7%;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .logo{
    font-weight: bolder;
    font-size: 2rem;
    color:var(--text-color-1);
    transform: translateY(25px) translateX(-4rem);
}

.header .logo i{
    color:var(--orange);
}
.logol img{
	max-width: 100%;
	width: 70px;
	height: 50px;
	transform: translateX(-4rem);
}
.header .search-form{
    background:var(--bg-color-2);
    border-radius: .3rem;
    display: flex;
    align-items: center;
    height: 2.5rem;
    width:50rem;
    transform: translateX(-5rem);
}

.header .search-form input{
    height:100%;
    width:100%;
    background:none;
    text-transform: none;
    font-size: 1.5rem;
    color:var(--text-color-1);
    padding:1rem;
   
}

.header .search-form label{
    font-size: 1rem;
    margin-right: 1.5rem;
    color:var(--text-color-1);
    cursor: pointer;
    
}

.header .search-form label:hover{
    color:var(--orange);
}

#theme-btn{
    transform: translateY(1.4rem) translateX(4rem);

}
#login-btn{
    transform: translateY(1.4rem) translateX(4rem);
}
#menu-btn{
    transform: translateY(-1.3rem) translateX(1rem);
    
}
#logout-btn{
    transform: translateY(1.4rem) translateX(4rem);
    align-items: center;
}
.header .icons div{
    height:2.5rem;
    width:2.5rem;
    line-height:2.5rem;
    font-size: 1rem;
    border-radius: .3rem;
    margin-left: .6rem;
    
    background:var(--bg-color-2);
    color:var(--text-color-1);
    cursor: pointer;
    text-align: center;
    display: inline-flex;
    

}

.header .icons div:hover{
    color:#fff;
    background:var(--orange);
}

.search{
    width: 15px;
    height: 15px;
}



.header .navbar{
    position:absolute;
    top:100%; right:7%;
    background:var(--bg-color-1);
    border-radius: 2px;
    box-shadow: var(--box-shadow);
    width:12rem;
    transform:scale(0);
    transform-origin: top right;
    display: none;
}
.header .notification{
    position:absolute;
    top:100%; right:7%;
    background:var(--bg-color-1);
    border-radius: 2px;
    box-shadow: var(--box-shadow);
    width:12rem;
    transform:scale(0);
    transform-origin: top right;
    padding: 10px;
    display: none;
    width: 350px;
    height: 300px;

}
.header .notification.activ{
    transform:scale(1);
}
.header.menu-open .notification{
    display: block;
    
}
.header.menu-open .navbar{
    display: block;
    
}

.header .navbar.active{
    transform:scale(1);
}


.header .navbar a{
    display:block;
    margin:1rem;
    padding:1rem;
    font-size: 1rem;
    color:var(--text-color-1);
    border-radius: .5rem;
}

.header .navbar .a{
    display:block;
    margin:1rem;
    padding:1rem;
    font-size: 1rem;
    color:var(--text-color-1);
    border-radius: .5rem;

}
.header .navbar a:hover{
    color:var(--orange);
    background:var(--bg-color-2);
    padding-left: 2rem;
}
 


.footer{
    background: var(--bg-color-1);
}

.footer .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(2rem, 1fr));
    gap:1.5rem;
}

.footer .box-container .box h3{
    font-size: 1.5rem;
    color:var(--text-color-1);
    padding:1rem 0;
}

.footer .box-container .box a{
    display: block;
    font-size: 1.2rem;
    color:var(--text-color-2);
    padding:1rem 0;
}

.footer .box-container .box a i{
    padding-right: .4rem;
    color:var(--orange);
}

.footer .box-container .box a:hover i{
    padding-right: 2rem;
}

.footer .credit{
    font-size: 1.5rem;
    text-align: center;
    width: 100%;
    height: 140px;
    border-top: .1rem solid var(--text-color-2);
    padding:1rem;
    padding-top: 2rem;
    margin-top: 2rem;
    color:var(--text-color-2);
    background-color: #004aad;
    transform: translateX(-5px);
}

.footer .credit span{
    color:var(--orange);
}












/* media queries  */

@media (max-width:991px){

    html{
        font-size: 55%;
    }

    .header{
        padding:1.5rem 2rem;
    }

    section{
        padding:2rem;
    }

}

@media (max-width: 768px) {
    .header .navbar{
        position:absolute;
        top:100%; right:7%;
        background:var(--bg-color-1);
        border-radius: 2px;
        box-shadow: var(--box-shadow);
        width:12rem;
        transform:scale(0);
        transform-origin: top right;
        display: none;
    }

    .header .navbar a {
        display: block;
        margin: 0;
        padding: 1rem;
        font-size: 1.5rem;
        color: var(--text-color-1);
        border-radius: 0;
        text-align: center;
    }

    .header .icons {
        display: flex;
        flex-direction: column;
        margin-top: 1rem;
    }
    #theme-btn{
        transform: translateY(1.4rem) translateX(-10rem);
    
    }
    #login-btn{
        transform: translateY(1.4rem) translateX(-10rem);
    }
    #menu-btn{
        transform: translateY(-1.3rem) translateX(-10rem);
        
    }
    .header .icons div{
      
        width: 1px;
        font-size: 1rem;
        border-radius: .3rem;
        margin-left: .6rem;
        
        background:var(--bg-color-2);
        color:var(--text-color-1);
        cursor: pointer;
        text-align: center;
        display: inline-flex;
        
    
    }

    .header .icons div {
        margin-left: 0;
        margin-bottom: 0.5rem;
    }

    .header .search-form {
        position: absolute;
        top: 110%;
        right: 2rem;
        background: var(--bg-color-1);
        border-radius: 0.5rem;
        width: 90%;
        box-shadow: var(--box-shadow);
        transform: scaleX(1);
        transform-origin: top right;
    }
    .header .logo{
        font-weight: bolder;
        font-size: 2rem;
        color:var(--text-color-1);
        transform: translateY(25px) translateX(-15rem);
    }
}
@media (max-width: 500px) {
    .header .navbar{
        position:absolute;
        top:100%; right:7%;
        background:var(--bg-color-1);
        border-radius: 2px;
        box-shadow: var(--box-shadow);
        width:12rem;
        transform:scale(0);
        transform-origin: top right;
        display: none;
    }

    .header .navbar a {
        display: block;
        margin: 0;
        padding: 1rem;
        font-size: 1.5rem;
        color: var(--text-color-1);
        border-radius: 0;
        text-align: center;
    }

    .header .icons {
        display: flex;
        flex-direction: column;
        margin-top: 1rem;
    }
    #theme-btn{
        transform: translateY(1.4rem) translateX(-10rem);
    
    }
    #login-btn{
        transform: translateY(1.4rem) translateX(-10rem);
    }
    #menu-btn{
        transform: translateY(-1.3rem) translateX(-10rem);
        
    }
    .header .icons div{
      
        width: 1px;
        font-size: 1rem;
        border-radius: .3rem;
        margin-left: .6rem;
        
        background:var(--bg-color-2);
        color:var(--text-color-1);
        cursor: pointer;
        text-align: center;
        display: inline-flex;
        
    
    }

    .header .icons div {
        margin-left: 0;
        margin-bottom: 0.5rem;
    }

    .header .search-form {
        position: absolute;
        top: 110%;
        right: 2rem;
        background: var(--bg-color-1);
        border-radius: 0.5rem;
        width: 90%;
        box-shadow: var(--box-shadow);
        transform: scaleX(1);
        transform-origin: top right;
    }
    .header .logo{
        font-weight: bolder;
        font-size: 2rem;
        color:var(--text-color-1);
        transform: translateY(25px) translateX(-15rem);
    }
}
@media (max-width:450px){

    html{
        font-size: 50%;
    }

    .contact form .inputBox input{
        width: 100%;
    }

    .header .navbar{
        position:absolute;
        top:100%; right:7%;
        background:var(--bg-color-1);
        border-radius: 2px;
        box-shadow: var(--box-shadow);
        width:12rem;
        transform:scale(0);
        transform-origin: top right;
        display: none;
    }

    .header .navbar a {
        display: block;
        margin: 0;
        padding: 1rem;
        font-size: 1.5rem;
        color: var(--text-color-1);
        border-radius: 0;
        text-align: center;
    }

    .header .icons {
        display: flex;
        flex-direction: column;
        margin-top: 1rem;
    }
    #theme-btn{
        transform: translateY(1.4rem) translateX(-10rem);
    
    }
    #login-btn{
        transform: translateY(1.4rem) translateX(-10rem);
    }
    #menu-btn{
        transform: translateY(-1.3rem) translateX(-10rem);
        
    }
    .header .icons div{
      
        width: 1px;

        font-size: 1rem;
        border-radius: .3rem;
        margin-left: .6rem;
        
        background:var(--bg-color-2);
        color:var(--text-color-1);
        cursor: pointer;
        text-align: center;
        display: inline-flex;
        
    
    }

    .header .icons div {
        margin-left: 0;
        margin-bottom: 0.5rem;
    }

}
